# Archivos de macOS
.DS_Store
.AppleDouble
.LSOverride

# Archivos de Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Caché y compilados de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Entornos virtuales (por si decides usar uno para tus scripts)
.env
.venv
env/
venv/
ENV/

# Editores de código (VS Code, IntelliJ, etc.)
.vscode/
.idea/
*.swp
*.swo
